@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-white text-slate-800;
  font-family: 'Poppins', sans-serif;
}

.hero-bg{
  background: linear-gradient(90deg, rgba(14,165,233,0.08), rgba(14,165,233,0.02));
}
